*{margin: 0;padding: 0;box-sizing: border-box;}
body{margin: 0;font-family: Arial, Helvetica, sans-serif;
color: rgb(0, 0, 0);
}
img{max-width: 100%;}
.container{
    width: 1140px;;
    margin: 0 auto;
    padding: auto;
    padding-left:15px;
    padding-right:15px;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    height: 100vh;
    background-image: url(img/main_bg.jpg);
    background-size: cover;
    background-position:center ;
}
.header-title{
    margin-bottom: 25px;
    font-weight: 700;
     font-size: 16px;
     line-height: 130%;
}
.header-subtitle{
    margin: 0;
    font-weight:bold;
    font-size: 16px;
    line-height: 120%;
    width: 522px;
    position: relative;
}
.portfolio{
    padding-top: 80px;
    padding-bottom: 115px;
 
}
.portfolio-header{
    margin: 0;
    margin-bottom:70px;
    font-size:46px;
    line-height:130%;
    text-align: center;

}   
.portfolio-wrapper{display: flex;
flex-wrap: wrap;
justify-content: space-between;

}
.card{
    margin-bottom:30px;
    width: 45%;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 10px 40px rgba(126,155, 189, 0.35);
}
.card-link{
    display: block;
    padding:20px;
    text-decoration: none;

}
.card-link:hover{color:rgb(39,91,236)}
.card-img{margin-bottom: 20px;}
.card-title{
    margin: 0;
    margin-bottom:13px;
    font-weight:600;
    font-size:24px;
    line-height:130%;
}
@media(min-width:992) and (max-width:1199px){
    .container{
        width:960px;
    }
}
@media(min-width:768px) and (max-width:991px){
    .container{width:720px;}
    .header-title{font-size:16px;}
    .header-subtitle{font-size:32;}
    .header-header{font-size:32; margin-bottom:30px;}

}
@media(min-width:480) and (max-width:767px){
    .container{width:100%;
    padding:0 10px;}
}
